<!DOCTYPE html>
<html>
<head> 
  <title> Your List </title> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
</head>
<body>
 <script src="app.js"> </script>    
<div ng-app="myShoppingList" ng-controller="myCtrl">
    <ul>
     <li ng-repeat ="product in products "> {{product}}
       <span ng-click="removeItem($index)"> &times; </span>
        </li>
       
    </ul>
    <input type="text" ng-model="addMe"/>
    <button ng-click="addItem()">Add</button>
    <p>{{errorText}}</p>
</div>    

    </body>
    
</html>